<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color='dark'></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Shoes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-fab-button color='secondary'class='chat-button'>
    <ion-icon  name=chatbubbles></ion-icon>
  </ion-fab-button>

  <ion-list>
    <ion-item [routerLink]="['/details/',s.id]" routerLinkActive="active" routerDirection='forward' *ngFor="let s of shoes">
      <app-shoe 
      [title]='s.title'
      [description]='s.description'
      [price]='s.price'
      [image]='s.colors[0]'
      ></app-shoe>
    </ion-item>
  </ion-list>


 
</ion-content>
